@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;700&display=swap');
/* Font: Quicksand, Fredoka One, sans-serif */


*{
    box-sizing: border-box;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover{
    font-weight: bolder;
}

body{
    font-family: 'Quicksand', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h2{
    color: rgb(56, 56, 56);
}

.website-name{
    height: 0px;
}

.website-name .title-web{
    position: relative;
    font-family: 'Fredoka One', cursive;
    font-size: 64px;
    top: 216px;
    color: white;
    letter-spacing: 8px;
    text-shadow: 2px 2px 24px rgba(51, 51, 51, 0.774);
}

.website-name p{
    position: relative;
    font-size: 36px;
    top: 164px;
    left: 0px;
    color: white;
    
    text-shadow: 2px 2px 34px black;
}




/* CSS Slider Show Gambar */
.slider{
    width: 100%;
    border-radius: 16px;
    margin-top: 4px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 540px;
    display: flex;
}


.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    object-position: center;
}



/* CSS untuk manual slider */
.navigation-manual{
    position: relative;
    width: 100%;
    bottom: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.manual-btn{
    border: 2px solid #ffffffba;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    position: relative;
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffffffba;
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}



/* CSS untuk automatis navigasi */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 506px;
    left: 0px;
}

.navigation-auto div{
    border: 2px solid #ffffffba;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffffba;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffffba;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffffba;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ffffffba;
}


/* CSS untuk header nav */
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    color: white;
}

li{
    color: white;
}

.judul-nav{
    background-color: rgb(255, 252, 64);
    color: rgb(82, 82, 82);
    padding: 0;
    padding-top: 4px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    letter-spacing: 6px;
}

.head-nav{
    background-color: rgb(255, 252, 64);
    padding: 0;
    padding-bottom: 4px;
    text-align: center;
    letter-spacing: 0.4px;
    margin: 0;
}


nav{
    background-color: #3b3b3bfb;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 2;
}

header{
    display: inline;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.2);
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
}


main{
    padding: 64px;
    padding-top: 16px;
    overflow: auto;
}


/* CSS Profile Konten */
.deskripsi-singkat{
    float: left;
    width: 70%;
}

aside{
    float: right;
    width: 30%;
    height: 100%;
    padding-left: 20px;
    
}

#profil-kadek-frama table{
    width: 100%;
    font-size: 14px;
    padding-bottom: 20px;
}

#profil-kadek-frama h3{
    text-align: center;
}

#profil-kadek-frama th{
    text-align: left;
}

.profile:hover{
    box-shadow: 0 4px 10px 0 rgba(136, 136, 136, 0.734);
    transition: all .4s ease-in;
}

.profile header{
    text-align: center;
}

.profile img{
    border-block-end-width: 200px;
    width: 240px;
}

.profile h2{
    font-size: 24px;
}





/*
    Pengaturan CSS Flexbox dan flex item.
 */

.flex-container-column{
    display: flex;
    flex-direction: column;

    /* poperty pendukung */
    max-width: 3000px;
    margin: 0 auto;
    text-align: left;
}

.flex-container-row{
    display: flex;
}

.flex-container-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    
}

.our-product{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 10px;
    padding: 0;
    margin: 0;
}

.flex-container-content h2{
    font-size: 36px;
}


.deskripsi-singkat h2, .profile h2{
    padding-top: 40px;
}

#vegetable{
    padding-top: 50px;
}
#fruits{
    padding-top: 50px;
}
#shop{
    padding-top: 40px;
}
#about{
    padding-top: 40px;
}





/* Pengaturan flex vegetable
 */
.flex-box-vegetable{
    display: flex;
    flex-direction: column;

    max-width: 2000px;
    margin-left: 0px;
    margin: 0 auto;
    text-align: center;
}

.flex-box-row-vegetable{
    display: flex;
    justify-content: center;
    text-align: center;
}
 
.flex-item-vegetable{
    flex-basis: 30%;
    margin: 0 ;

    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border: 0.01px solid rgba(133, 133, 133, 0.842);
    background-color: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: default;
}

.flex-item-vegetable img{
    max-width: 240px;
    max-height: 240px;
}

.flex-item-vegetable p{
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.flex-item-vegetable p + p{
    padding: 0;
    margin: 1px;
    font-size: 19px;
}

#vegetable h2,
p{
    text-align: center;
    margin-top: 17px;
}



/* Pengaturan flex fruits
 */
 .flex-box-fruits{
    display: flex;
    flex-direction: column;

    max-width: 2000px;
    margin-left: 0px;
    margin: 0 auto;
    text-align: center;
}

.flex-box-row-fruits{
    display: flex;
    justify-content: center;
    text-align: center;
}
 
.flex-item-fruits{
    flex-basis: 30%;
    margin: 0 ;

    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border: 0.01px solid rgba(133, 133, 133, 0.842);
    background-color: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: default;
}

.flex-item-fruits img{
    max-width: 240px;
    max-height: 240px;
}


.flex-item-fruits p{
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.flex-item-fruits p + p{
    padding: 0;
    margin: 1px;
    font-size: 19px;
}

#fruits h2,
p{
    text-align: center;
    margin-top: 17px;
}





/* Pengaturan flex about.
 */

 .flex-box-about{
    display: flex;
    flex-direction: column;

    max-width: 2000px;
    max-height: 2000px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 24px;
    background-image: linear-gradient(to bottom right, #e0171770, #ffffff);
}

.flex-box-row-about{
    display: flex;
    text-align: center;
    justify-content: center;
}

.about-atas{
    flex-basis: 30%;
    overflow: auto;
}

.about-atas p{
    font-size: 20px;
    text-align: center;
    width: 80%;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

.about-bawah{
    flex-basis: 70%;
    overflow: auto;
}
 
.flex-item-about{
    flex-basis: 23%;
    margin: 34px ;
    display: flex;
    flex-direction: column;

    font-size: 1.5em;
    padding: 20px;
    background-color: white;
    border-radius: 34px;
    cursor: default;
    margin-bottom: 160px;
}

.flex-item-about img{

    width: 100%;
    padding: 40px;
    margin-top: -20px;
    margin-bottom: -6px;
    align-items: center;
    border-radius: 1000px;
    flex-basis: 30%;
}

.flex-box-about h2{
    padding-top: 10px;
}

.flex-item-about p{
    flex: 70%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.flex-item-about .descript{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.flex-item-about .role{
    background-image: linear-gradient(to bottom right, #bb1515ce, #cf5a5ada, #cf5a5ab4);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.flex-item-about:hover{
    box-shadow: 2px 8px 12px rgba(148, 148, 148, 0.84);
    transition: all .3s ease-in-out;
}




/*
    Pengaturan flex item footer.
 */

 footer{
    background-color: rgb(61, 61, 61);
 }

 footer p{
    color: white;
    padding: 16px;
    margin-bottom: 0;
 }